.grid-list {
    margin: 15px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 5px;
    margin-top: 85px;
}

.mat-grid-title {
    top: 0;
    left: 0;
    right: 0;
    border-radius: 8px;
    margin: 15px;
    height: 50px;
    background-color: var(--color-accent);
    display: flex;
    justify-content: center;
    align-items: center;
}