<ngx-spinner></ngx-spinner>
<mat-toolbar class="header">
  <img src="../assets/covid_ic.png" class="covid-icon" />
  COVID-19 WORLD MAP</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav-panel">
    <app-countries-list></app-countries-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-grid-list class="grid-list" cols="1" rowHeight="fit">
      <mat-grid-tile class="map-tile" colspan="1" rowspan="7">
        <app-map></app-map>
      </mat-grid-tile>
      <mat-grid-tile class="divider-tile" colspan="1" rowspan="1">
        Divider
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="4">
        Charts
      </mat-grid-tile>
    </mat-grid-list>
  </mat-sidenav-content>
</mat-sidenav-container>