<mat-sidenav-container>
  <ngx-spinner></ngx-spinner>
  <div class="mat-grid-title">
    CORONAVIRUS (COVID-19) IN EUROPE
  </div>
  <mat-grid-list class="grid-list" cols="6" rowHeight="fit" gutterSize="20" (window:resize)="onResize($event)">
    <mat-grid-tile class="countries-tile" [colspan]="countriesTileSize" rowspan="9">
      <app-countries-list></app-countries-list>
    </mat-grid-tile>
    <mat-grid-tile class="map-tile" [colspan]="mapSize" rowspan="9">
      <app-map></app-map>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="3">
      graph 1
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="3">
      graph 2
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="3">
      graph 3
    </mat-grid-tile>
  </mat-grid-list>
</mat-sidenav-container>
<router-outlet></router-outlet>