<div class="country-list">
    <form class="search-from">
        <mat-form-field class="search-bar-full-width">
            <mat-label>SEARCH...</mat-label>
            <input matInput autocomplete="off" spellcheck="false">
        </mat-form-field>
    </form>
    <ngx-simplebar [options]="options" class="simplebar-layout">
        <mat-action-list>
            <button mat-list-item class="country-node" *ngFor="let country of countries">
                {{country.properties.name}}
            </button>
        </mat-action-list>
    </ngx-simplebar>

</div>