<div class="country-list">
    <form class="search-from">
        <mat-form-field class="search-bar-full-width">
            <mat-label>SEARCH...</mat-label>
            <input matInput #countryInput autocomplete="off" spellcheck="false"
                (input)="filterCountries(countryInput.value)" (keypress)="selectFirstCountryOnEnter($event)">
        </mat-form-field>
    </form>
    <ngx-simplebar [options]="options" class="simplebar-layout">
        <mat-action-list>
            <mat-list-item matRipple class="country-node" *ngFor="let country of countries"
                (click)="animateToFeature(country)">
                {{country.getProperties()["name_long"]}}
            </mat-list-item>
        </mat-action-list>
    </ngx-simplebar>
</div>