html, body {
  height: 100%;
  margin: 0;
}

mat-grid-tile {
  background-color: var(--color-accent);
  border-radius: 8px;
}

mat-sidenav-container {
  height: 100vh;
  background-color:#111111 !important;
}

.country-list {
  height: 100%;
  background: var(--color-accent) !important;
  color: lightgray!important; 
  .mat-action-list {
    margin-bottom: 15px;
  }
}

.countries-tile {
    background-color: transparent!important;
    app-countries-list {
        height: 100%!important;
        width: 100%!important;
    }
}

.map-tile {
    app-map {
      height: 100%!important;
      width: 100%!important;
    }
}

.simplebar-layout {
  height: calc(100% - 65px);
}

.mat-form-field-appearance-legacy {
  .mat-form-field-label {
    color: rgba(255,255,255,.2)!important;
  }
  .mat-form-field-wrapper {
    margin: 0 10px;
  }
  .mat-form-field-infix {
    border-top: 1em solid transparent;
    >input {
      color: lightgray !important;
      opacity: .7;
      font-variant: all-petite-caps;
    }
  }
}

.simplebar-scrollbar {
  width: 9px;
  opacity: .5;
}

.ol-control {
  background-color: var(--color-accent)!important;
  &.ol-zoom {
    padding: 3px;
    .ol-zoom-in, .ol-zoom-out {
      background-color: #404040!important;
    }
  }
  &.ol-extent {
    top: 63px !important;
    left: 8px !important;
    padding: 6px 3px 3px 3px;
    .ol-extent-button {
      background-color: #404040!important;
      span {
        font-size: 18px!important;
      }
    }
  }
  button {
    cursor: pointer;
    opacity: .7;
    &:focus {
      outline: none!important;
    }
    &:hover {
      opacity: 1;
    }
  }
}