html, body {
  height: 100%;
  margin: 0;
}

mat-grid-tile {
  background-color: var(--color-accent);
  border-radius: 8px;
}

mat-sidenav-container {
  height: 100vh;
  background-color:#111111!important;
}
